body {
    margin: 0;
    font-family: Goldplay, sans-serif;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    background: url("cover.jpg") center no-repeat;
    background-size: cover;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro__title {
    margin: 0;

    font-size: 45px;
    color: #fff;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: block;
  font-family: "Goldplay",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  width: 15%;
  height: 40%;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: center;
      margin-left: auto;
    margin-right: auto;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

@font-face {
    font-family: 'Goldplay';
    src: local('fonts/Goldplay SemiBold'), local('Goldplay-SemiBold'),
        url('fonts/Goldplay-SemiBold.woff2') format('woff2'),
        url('fonts/Goldplay-SemiBold.woff') format('woff'),
        url('fonts/Goldplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }